*.elc
.*.class
.cache/
.cask/
.cpcache
.dumbjump
.emacs.d/bookmarks
.emacs.d/forge-database.sqlite
.emacs.d/recentf
.emacs.d/transient
.emacs.d/url
.dir-locals.el
.netrwhist
.nrepl-port
.projectile
.tags
.log
.lsp
eshell/
fonts/
pom.xml
projectile.cache
target/